*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(200deg, hsla(187, 100%, 69%, 1),
                                    hsla(187, 100%, 69%, 0) 70%),
                    linear-gradient(130deg, hsla(300, 100%, 69%, 1),
                                    hsla(300, 100%, 69%, 0) 70%),
                    linear-gradient(330deg, hsla(0, 100%, 69%, 1),
                                    hsla(0, 100%, 69%, 0) 70%);


}

img {
  animation: bordaAnimada 5s infinite;
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 2px  solid;
  
  

}

video {

  
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid ; 
  animation: bordaAnimada 5s infinite; 
 
  
 
}


.conteudo-geral {
  
  display: flex;
  justify-content: center;
  align-items: center;


}

.conteudo-geral-sliderGeral {
  --larguraDoItem: 150px;
  --alturaDoItem: 100px;
  width: var(--larguraDoItem);
  height: var(--alturaDoItem);
  perspective: 1000px;

}
p{


  margin-top: 100px;
  margin-left: 20px;
  
  
}

a {

  color: rgb(243, 243, 243);

}

.sliderGeral {
  --rotatey: 0;
  font-size: 4rem;
  position: relative;
  transform: rotatey(var(--rotatey));
  transform-style: preserve-3d;
  user-select: none;
  cursor: grab;
  
  
}

.sliderGeral-card {
  opacity: 0.97;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: opacity 0.5s;
  
}

.sliderGeral-card:hover {
  opacity: 1;
}
.sliderGeral-card h1 {
  color: #fff;
  font-size: 1.8rem;
}

.sliderGeral,
.sliderGeral-card {
  width: 100%;
  height: 100%;
  
  
}

.sliderGeral-card:nth-child(1) {
  --rotatey: 0;
  transform: rotatey(var(--rotatey)) translatez(var(--tz));
  background: linear-gradient(-229deg, #0093e9, #80d0c7);
  border-radius: 10px;
}

.sliderGeral-card:nth-child(2) {
  --rotatey: 0;
  transform: rotatey(var(--rotatey)) translatez(var(--tz));
  background: linear-gradient(-229deg, #00dbde, #fc00ff);
  border-radius: 10px;
}

.sliderGeral-card:nth-child(3) {
  --rotatey: 0;
  transform: rotatey(var(--rotatey)) translatez(var(--tz));
  background: linear-gradient(-229deg, #50d990, #d4d054);
  border-radius: 10px;
}
.sliderGeral-card:nth-child(4) {
  --rotatey: 0;
  transform: rotatey(var(--rotatey)) translatez(var(--tz));
  background: linear-gradient(-229deg, #cf91ff, #5782f5);
  border-radius: 10px;
}

.sliderGeral-card:nth-child(5) {
  --rotate: 0;
  transform: rotatey(var(--rotatey)) translatez(var(--tz));
  background: linear-gradient(-229deg, #642b73, #c6426e);
  border-radius: 10px;
  border-radius: 10px;
}

.sliderGeral-card:nth-child(6) {
  --rotatey: 0;
  transform: rotatey(var(--rotatey)) translatez(var(--tz));
  background: linear-gradient(-229deg, #d9afd9, #97d9e1);
  border-radius: 10px;
}

#span_coracao{

  color: rgba(255, 255, 255, .1);
            background: linear-gradient(to right,
                    rgb(76, 217, 105),
                    rgb(52, 170, 220),
                    rgb(88, 86, 217),
                    rgb(255, 45, 83),
                    rgb(255, 45, 83),
                    rgb(88, 86, 217),
                    rgb(52, 170, 220),
                    rgb(76, 217, 105));
            background-size: 400%;
            -webkit-background-clip: text;
            background-clip: text;

            text-align: left;
            animation: sTransition 10s linear infinite;
}




@media screen and (min-width: 300px) {
  .conteudo-geral-sliderGeral {
    --larguraDoItem: 150px;
    --alturaDoItem: 300px; 

  }
}



@keyframes bordaAnimada {
  0% {
    border-color: violet;
  }
  50% {
    border-color:rgb(247, 173, 247); 
  }
  100% {
    border-color: #a0d9e7; 
  }
}

@keyframes sTransition {
  0% {
      background-position: 0%;
  }

  100% {
      background-position: 400%;
  }
}